.texto{
    font-size: 0.9rem; 
    line-height: 1.3rem;
    text-align: justify;   
}



.carousel-item img {
filter: brightness(50%);
}

.contenedorImg{
    display:flex;
}

.contenedorImg img{
    height: auto;
    width: 50%;
}